<div class="footer__wrap">
  <mat-toolbar>
    <span class="footer__copyright">Все права защищены</span>

    <span class="spacer"></span>
    <div class="footer__socials">
      <a href="https://facebook.com">
        <mat-icon svgIcon="facebook" color="primary"></mat-icon>
      </a>

      <a href="https://twitter.com">
        <mat-icon svgIcon="twitter" color="primary"></mat-icon>
      </a>

      <a href="https://www.youtube.com/">
        <mat-icon svgIcon="youtube" color="primary"></mat-icon>
      </a>

      <a href="https://web.telegram.org/">
        <mat-icon svgIcon="telegram" color="primary"></mat-icon>
      </a>

    </div>

  </mat-toolbar>
</div>

