<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="header__logo-link" routerLink="/">Booking on Material</a><br>
        <span> (нет мобильной версии)</span>
        <span class="spacer"></span>
        <button (click)="showOrders()" mat-icon-button>
            <span class="material-icons-outlined">shopping_basket</span>
        </button>
        <button (click)="showFavorites()" mat-icon-button>
            <span class="material-icons-outlined">favorite_border</span>
        </button>

    </mat-toolbar-row>
</mat-toolbar>
