<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="header__logo-link" routerLink="/">Booking on Material</a><br>
        <span> (нет мобильной версии)</span>
        <span class="spacer"></span>
        <button (click)="showOrders()" mat-icon-button>
            <span class="material-icons-outlined">shopping_basket</span>
        </button>
        <button #trigger="cdkOverlayOrigin" (click)="showFavorites()" cdkOverlayOrigin mat-icon-button>
            <span class="material-icons-outlined">favorite_border</span>
        </button>


    </mat-toolbar-row>
</mat-toolbar>


<ng-template
        [cdkConnectedOverlayOpen]="isOpen"
        [cdkConnectedOverlayOrigin]="trigger"
        cdkConnectedOverlay>
    <div class="favorites__wrap">
        <mat-list *ngFor="let item of preparedFavorites" class="favorites__list" role="list">
            <mat-list-item role="listitem">
                <div class="favorites__list-item__wrap">
                    <div>
                        <a [routerLink]="['detail', item.id]"
                           class="favorites__list-item__link">{{item.name}}</a>
                    </div>

                    <button (click)="removeFromFavorites(item.id)" class="favorites__list-item__button" color="warn"
                            mat-icon-button
                            matTooltip="Убрать из избранного">
                        <span class="material-icons">delete_outline</span>
                    </button>
                </div>

            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

    </div>

</ng-template>
