.icon {
  padding: 0 14px;
}

.header {
  &__logo-link {
    color: unset;
    text-decoration: none;
  }
}

.favorites {
  &__wrap {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px rgb(113 113 113 / 60%);
    margin-top: 10px;
  }

  &__list {
    &-item__link {
      text-decoration: none;
      color: #323232;
      flex-basis: 75%;
    }

    &-item__button {
      flex-basis: 10%;
    }

    &-item__wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
