<aside class="book-it">
    <header class="book-it__header">
        <h3 class="book-it__header-price">2300 <span class="book-it__header-currency">₽</span><span
                class="book-it__header-apiece">/ ночь</span></h3>
        <app-review></app-review>
    </header>
    <aside class="book-it__calendar">
        <div class="book-it__dates">
            <div class="book-it__dates-arrive-block">
                <label for="arrive">Прибытие</label>
                <input [value]="dates?.start | date: 'mediumDate'" id="arrive" placeholder="Укажите дату" readonly
                       type="text">
            </div>
            <div class="book-it__dates-departure-block">
                <label for="departure">Выезд</label>
                <input [value]="dates?.end | date: 'mediumDate'" id="departure" placeholder="Укажите дату" readonly
                       type="text">
            </div>
            <div #trigger="cdkOverlayOrigin" (click)="openModalGuests()" cdkOverlayOrigin
                 class="book-it__dates-guests-block">
                <div class="book-it__dates-guests-block-inner">
                    <label for="guests">Гостей</label>
                    <input [value]="totalAmountGuests" id="guests" placeholder="Гостей" readonly type="text">
                </div>
                <mat-icon> expand_more</mat-icon>
            </div>

            <ng-template
                    [cdkConnectedOverlayOpen]="isOpen"
                    [cdkConnectedOverlayOrigin]="trigger"
                    cdkConnectedOverlay>
                <mat-card class="book-it__guests-block">
                    <div class="book-it__guests-inner">
                        <div><span class="book-it__guests-title">Взрослые</span></div>
                        <div class="book-it__buttons-wrap">
                            <button (click)="decreaseCountAdults()" [disabled]="cannotDecreaseAdults" mat-mini-fab>-
                            </button>
                            <span>{{amountAdults}}</span>
                            <button (click)="increaseCountAdults()" [disabled]="cannotIncreaseAdults" mat-mini-fab>+
                            </button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="book-it__guests-inner">
                        <div class="book-it__guests-babies-wrap">
                            <span class="book-it__guests-title book-it__guests-title--babies">Дети</span>
                            <span class="book-it__guests-note">2–12 лет</span>
                        </div>

                        <div class="book-it__buttons-wrap">
                            <button (click)="decreaseCountChildren()" [disabled]="amountChildren === 0" mat-mini-fab>-
                            </button>
                            <span>{{amountChildren}}</span>
                            <button (click)="increaseCountChildren()" [disabled]="amountChildren >= 2" mat-mini-fab>+
                            </button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="book-it__guests-inner">
                        <div class="book-it__guests-babies-wrap">
                            <span class="book-it__guests-title book-it__guests-title--babies">Младенцы</span>
                            <span class="book-it__guests-note">Младше 2 лет</span>
                        </div>
                        <div class="book-it__buttons-wrap">
                            <button (click)="decreaseCountBabies()" [disabled]="amountBabies === 0" mat-mini-fab>-
                            </button>
                            <span>{{amountBabies}}</span>
                            <button (click)="increaseCountBabies()" [disabled]="amountBabies >= 5" mat-mini-fab>+
                            </button>
                        </div>
                    </div>
                    <mat-card-actions align="end">
                        <button (click)="isOpen = !isOpen" mat-button>Закрыть</button>
                    </mat-card-actions>
                </mat-card>

            </ng-template>
        </div>


    </aside>
    <button (click)="bookIt()" [disabled]="!dates || !dates?.end" class="book-it__button" color="primary"
            mat-flat-button>
        Забронировать
    </button>
</aside>
