<aside class="book-it" >
    <header class="book-it__header">
    <h3 class="book-it__header-price">2300 <span class="book-it__header-currency">₽</span><span class="book-it__header-apiece">/ ночь</span> </h3>
        <app-review></app-review>
    </header>
    <aside class="book-it__calendar">
        <div class="book-it__dates">
            <div class="book-it__dates-arrive-block">
                <label for="arrive">Прибытие</label>
                <input type="text" id="arrive" placeholder="Укажите дату" readonly>
            </div>
            <div class="book-it__dates-departure-block">
                <label for="departure">Выезд</label>
                <input type="text" id="departure" placeholder="Укажите дату" readonly>
            </div>
            <div class="book-it__dates-guests-block">
                <div class="book-it__dates-guests-block-inner">
                    <label for="guests">Гостей</label>
                    <input type="text" id="guests" placeholder="Гостей" readonly>
                </div>
                <mat-icon> expand_more</mat-icon>
            </div>
        </div>



    </aside>
    <button class="book-it__button" mat-flat-button color="primary" >Забронировать</button>
</aside>
