<aside class="book-it" >
    <header class="book-it__header">
    <h3 class="book-it__header-price">2300 <span class="book-it__header-currency">₽</span><span class="book-it__header-apiece">/ ночь</span> </h3>
        <app-review></app-review>
    </header>
    <aside class="book-it__calendar">
        <div class="book-it__dates">
            <div class="book-it__dates-arrive-block">
                <label for="arrive" #str>Прибытие</label>
                <input type="text" id="arrive" placeholder="Укажите дату" readonly [value]="dates?.start | date: 'mediumDate'">
            </div>
            <div class="book-it__dates-departure-block">
                <label for="departure">Выезд</label>
                <input type="text" id="departure" placeholder="Укажите дату" readonly [value]="dates?.end | date: 'mediumDate'">
            </div>
            <div class="book-it__dates-guests-block" (click)="openModalGuests()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                <div class="book-it__dates-guests-block-inner">
                    <label for="guests">Гостей</label>
                    <input type="text" id="guests" placeholder="Гостей" readonly  [(ngModel)]="this.countAdults + this.countBabies + this.countChildren">
                </div>
                <mat-icon> expand_more</mat-icon>
            </div>

            <ng-template
                    cdkConnectedOverlay
                    [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="isOpen">
                <mat-card class="book-it__guests-block">
                    <div class="book-it__guests-inner">
                        <div><span class="book-it__guests-title">Взрослые</span></div>
                        <div class="book-it__buttons-wrap">
                            <button mat-mini-fab (click)="decreaseCountAdults()" [disabled]="countAdults === 1" >-</button>
                            <span>{{countAdults}}</span>
                            <button mat-mini-fab (click)="increaseCountAdults()" [disabled]="countAdults >= 3">+</button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="book-it__guests-inner">
                        <div class="book-it__guests-babies-wrap">
                            <span class="book-it__guests-title book-it__guests-title--babies">Дети</span>
                            <span class="book-it__guests-note">2–12 лет</span>
                        </div>

                        <div class="book-it__buttons-wrap">
                            <button mat-mini-fab (click)="decreaseCountChildren()" [disabled]="countChildren === 0">-</button>
                            <span>{{countChildren}}</span>
                            <button mat-mini-fab (click)="increaseCountChildren()" [disabled]="countChildren >= 2">+</button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="book-it__guests-inner">
                        <div class="book-it__guests-babies-wrap">
                            <span class="book-it__guests-title book-it__guests-title--babies">Младенцы</span>
                            <span class="book-it__guests-note">Младше 2 лет</span>
                        </div>
                        <div class="book-it__buttons-wrap">
                            <button mat-mini-fab (click)="decreaseCountBabies()" [disabled]="countBabies === 0">-</button>
                            <span>{{countBabies}}</span>
                            <button mat-mini-fab (click)="increaseCountBabies()" [disabled]="countBabies >= 5">+</button>
                        </div>
                    </div>
                    <mat-card-actions align="end">
                        <button mat-button (click)="isOpen = !isOpen">Закрыть</button>
                    </mat-card-actions>
                </mat-card>

            </ng-template>
        </div>



    </aside>
    <button class="book-it__button" mat-flat-button color="primary" >Забронировать</button>
</aside>
