<main class="room-detail">


    <header class="room-detail__header">
        <h1 class="room-detail__header-title">Modern Studio</h1>
        <div class="room-detail__header-wrap">
            <div class="room-detail__header-inner room-detail__header-inner--left">

                <app-review></app-review>

                <div class="room-detail__header-item room-detail__header-item-owner">
                    <mat-icon class="room-detail__header-item__badge" color="warn">military_tech</mat-icon>
                    Суперхозяин
                </div>
                <div class="room-detail__header-item room-detail__header-item-location">Sankt-Peterburg</div>
            </div>

            <div class="room-detail__header-inner room-detail__header-inner--right">
                <div class="room-detail__header-item room-detail__header-item-share">
                    <button mat-button>
                        <mat-icon class="room-detail__header-item__badge room-detail__header-item__badge--share">
                            ios_share
                        </mat-icon>
                        Поделиться
                    </button>
                </div>
                <div class="room-detail__header-item room-detail__header-item-favorites">
                    <button (click)="addFavorite()" [disabled]="s | async"
                            mat-button>
                        <mat-icon
                                class="room-detail__header-item__badge room-detail__header-item__badge--favorites">
                            favorite_border
                        </mat-icon>
                        Сохранить
                    </button>
                    <!--                    <div>-->
                    <!--                        <pre>{{test}}</pre>-->
                    <!--                        <button (click)="d()" mat-flat-button>true</button>-->
                    <!--                        {{test$ | async}}-->
                    <!--                        <button (click)="i()" [color]="(test$ | async) ? '': 'warn'" mat-flat-button>false-->
                    <!--                        </button>-->
                    <!--                    </div>-->

                </div>


            </div>
        </div>

    </header>


    <section class="room-detail__gallery">
        <app-gallery-detail [images]="images" [minHeight]="600"></app-gallery-detail>
    </section>
    <section class="room-detail__sticky-wrap">

        <div class="room-detail__sticky-inner-left-block">
            <article class="room-detail__overview">
                <h3 class="room-detail__title">Арендуемое жилье целиком, хозяин: Екатерина</h3>
                <p>
                    <span>4 гостя, ·</span><span>1 спальня, ·</span> <span>2 кровати, ·</span> 1 ванная
                </p>
                <div class="room-detail__overview-photo">
                    <img alt="overview photo" src="https://via.placeholder.com/90x90">
                </div>
            </article>
            <mat-divider></mat-divider>
            <article class="room-detail__highlights">
                <div class="room-detail__highlights-inner">
                    <mat-icon svgIcon="highlights-home"></mat-icon>
                    <div class="room-detail__highlights-description-wrap">
                        <h4 class="room-detail__highlights-title">Жилье целиком</h4>
                        <p class="room-detail__highlights-description">Квартира полностью в вашем распоряжении.</p>
                    </div>

                </div>
                <div class="room-detail__highlights-inner">
                    <mat-icon svgIcon="highlights-stars"></mat-icon>
                    <div class="room-detail__highlights-description-wrap">
                        <h4 class="room-detail__highlights-title">Расширенная уборка</h4>
                        <p class="room-detail__highlights-description">Хозяин следует расширенному протоколу уборки.</p>
                    </div>
                </div>
                <div class="room-detail__highlights-inner">
                    <mat-icon svgIcon="highlights-medal"></mat-icon>
                    <div class="room-detail__highlights-description-wrap">
                        <h4 class="room-detail__highlights-title">Екатерина — суперхозяин</h4>
                        <p class="room-detail__highlights-description">Суперхозяева — опытные хозяева с отличными
                            отзывами, которые делают всё для комфорта гостей.</p>
                    </div>
                </div>
                <div class="room-detail__highlights-inner">
                    <mat-icon svgIcon="highlights-location"></mat-icon>
                    <div class="room-detail__highlights-description-wrap">
                        <h4 class="room-detail__highlights-title">Отличное расположение</h4>
                        <p class="room-detail__highlights-description">90% недавних гостей оценили расположение жилья на
                            пять звезд.</p>
                    </div>
                </div>
            </article>
            <mat-divider></mat-divider>
            <p class="room-detail__description">
                Уютная студия в историческом центре города, в 2-х минутах от метро Чкаловская, ожидает дорогих гостей!
                Квартира расположилась в старинном доходном доме 1903 года постройки с парадным входом с улицы. Метраж
                студии 28м2. Окна выходят на тихую улицу, что для центра большая редкость.
                Квартира полностью оборудована всем необходимым для проживания не более 4-х
            </p>
            <mat-divider></mat-divider>
            <article class="room-detail__photos-interior">
                <h3 class="room-detail__title">Где вы будете спать</h3>
                <div class="room-detail__photos-interior-image__inner">
                    <figure class="room-detail__photos-interior-image__wrap">
                        <img alt=""
                             class="room-detail__photos-interior-image__source"
                             src="https://a0.muscache.com/im/pictures/e7d1e98d-8ad4-4ad9-8deb-64184764a56b.jpg?aki_policy=large">
                        <figcaption class="room-detail__photos-interior-image__caption">
                            <h5 class="room-detail__photos-interior-image__caption-title">Спальня</h5>
                            <p class="room-detail__photos-interior-image__caption-description">1 кровать King Size</p>
                        </figcaption>
                    </figure>
                    <figure class="room-detail__photos-interior-image__wrap">
                        <img alt=""
                             class="room-detail__photos-interior-image__source"
                             src="https://a0.muscache.com/im/pictures/65f3f7cb-65bc-4d4b-95b3-a53795ea3523.jpg?aki_policy=large">
                        <figcaption class="room-detail__photos-interior-image__caption">
                            <h5 class="room-detail__photos-interior-image__caption-title">Спальня</h5>
                            <p class="room-detail__photos-interior-image__caption-description">1 кровать King Size</p>
                        </figcaption>
                    </figure>
                </div>

            </article>
            <mat-divider></mat-divider>
            <article class="room-detail__amenities">
                <h5 class="room-detail__title">Какие удобства вас ждут</h5>
            </article>
            <article class="room-detail__calendar">
                <h5 class="room-detail__title">
                    Выбранные даты: {{selected?.start | date: 'longDate'}} - {{selected?.end | date: 'longDate'}}
                </h5>
                <div style="display: flex; flex-flow: row nowrap; justify-content: space-around">
                    <button (click)="prevMonth()" [disabled]="disabledButtonPrev()" mat-icon-button>
                        <span class="material-icons-outlined">chevron_left</span>
                    </button>
                    <button (click)="nextMonth()" mat-icon-button>
                        <span class="material-icons-outlined">chevron_right</span>
                    </button>
                </div>
                <div class="room-detail__calendar-inner">

                    <div class="room-detail__calendar-block room-detail__calendar-block--left">
                        <mat-calendar #calendarLeft (selectedChange)="_onSelectedChange($event)"
                                      [headerComponent]="headerComponent"
                                      [minDate]="minDateToChoice"
                                      [selected]="selectedDateRange"
                                      [startAt]="startDate">
                        </mat-calendar>
                    </div>
                    <div class="room-detail__calendar-block room-detail__calendar-block--right">

                        <mat-calendar #calendarRight (selectedChange)="_onSelectedChange($event)"
                                      [headerComponent]="headerComponent"
                                      [selected]="selectedDateRange"
                                      [startAt]="endDate"></mat-calendar>

                    </div>
                </div>
                <p class="room-detail__calendar-counter">
                    <button (click)="clearDates()" [disabled]="!selectedDateRange"
                            class="room-detail__calendar-counter__button"
                            mat-button>Очистить
                        даты
                    </button>
                </p>


            </article>
            <article class="room-detail__amenities">
                <h5 class="room-detail__title">4.96 · 84 отзыва</h5>
            </article>
        </div>

        <div class="room-detail__sticky-inner-right-block">
            <article class="room-detail__book-it">
                <app-book-it [dates]="selectedDateRange"></app-book-it>
            </article>
            <article class="room-detail__book-it__extra-block">
                <strong>Хотите забронировать другое жилье?</strong>Доступны другие объявления.
            </article>
        </div>
    </section>


    <p class="room-detail__description">
        Уютная студия в историческом центре города, в 2-х минутах от метро Чкаловская, ожидает дорогих гостей!
        Квартира расположилась в старинном доходном доме 1903 года постройки с парадным входом с улицы. Метраж
        студии 28м2. Окна выходят на тихую улицу, что для центра большая редкость.
        Квартира полностью оборудована всем необходимым для проживания не более 4-х
    </p>
    <hr>
    <p class="room-detail__description">
        Уютная студия в историческом центре города, в 2-х минутах от метро Чкаловская, ожидает дорогих гостей!
        Квартира расположилась в старинном доходном доме 1903 года постройки с парадным входом с улицы. Метраж
        студии 28м2. Окна выходят на тихую улицу, что для центра большая редкость.
        Квартира полностью оборудована всем необходимым для проживания не более 4-х
    </p>
    <hr>
    <p class="room-detail__description">
        Уютная студия в историческом центре города, в 2-х минутах от метро Чкаловская, ожидает дорогих гостей!
        Квартира расположилась в старинном доходном доме 1903 года постройки с парадным входом с улицы. Метраж
        студии 28м2. Окна выходят на тихую улицу, что для центра большая редкость.
        Квартира полностью оборудована всем необходимым для проживания не более 4-х
    </p>
    <p class="room-detail__description">
        Уютная студия в историческом центре города, в 2-х минутах от метро Чкаловская, ожидает дорогих гостей!
        Квартира расположилась в старинном доходном доме 1903 года постройки с парадным входом с улицы. Метраж
        студии 28м2. Окна выходят на тихую улицу, что для центра большая редкость.
        Квартира полностью оборудована всем необходимым для проживания не более 4-х
    </p>


</main>
