.room-detail {
  max-width: 1165px;
  margin: 0 auto;

  &__sticky {
    &-inner-right-block {
      position: sticky;
      top: 0;
      flex-basis: 35%;
    }
    &-inner-left-block {
      flex-basis: 60%;
    }
    &-wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }


  &__header {
    &-title {
      font-size: 28px;
      font-weight: 500;
      color: #444444;
      margin: 22px 10px 0;
    }
    &-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    &-item {
      margin-right: 25px;
      position: relative;
      &-owner {
        margin-left: 30px;
      }

      &-rating__modal {
        color: #673ab7;
        cursor: pointer;
      }
      &__badge {
        position: absolute;
        font-size: 18px;
        bottom: -5px;
        left: -20px;

        &--share, &--favorites {
          position: unset;
          bottom: unset;
          left: unset;
        }
      }
    }

    &-inner {
      padding: 2px;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;

      &--left {
        flex-basis: 60%;
        justify-content: flex-start;
        padding-left: 25px;
      }
      &--right {
        flex-basis: 40%;
        justify-content: flex-end;
      }
    }
  }
}
