.room-detail {
  max-width: 1165px;
  margin: 0 auto;

  &__title {
    font-size: 22px;
  }
  &__amenities{
    padding: 22px 0;
  }

  &__sticky {
    &-inner-right-block {
      position: sticky;
      top: 55px;
      width: 34%;
      height: 400px;
    }

    &-inner-left-block {
      flex-basis: 60%;
    }

    &-wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 15px;
    }
  }

  &__highlights {
    padding: 32px 0;

    &-inner {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
    }

    &-description {
      font-weight: 100;
      color: #717171;

      &-wrap {
        width: 100%;
        margin-left: 15px;
      }
    }

    &-title {
      font-size: 16px;
      margin-bottom: 4px;
    }
  }


  &__header {
    &-title {
      font-size: 28px;
      font-weight: 500;
      color: #444444;
      margin: 22px 10px 0;
    }

    &-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &-item {
      margin-right: 25px;
      position: relative;

      &-owner {
        margin-left: 30px;
      }

      &-rating__modal {
        color: #673ab7;
        cursor: pointer;
      }

      &__badge {
        position: absolute;
        font-size: 18px;
        bottom: -5px;
        left: -20px;

        &--share, &--favorites {
          position: unset;
          bottom: unset;
          left: unset;
        }
      }
    }

    &-inner {
      padding: 2px;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
    }
  }

  &__description {
    padding: 32px 0;
    font-size: 16px;
    font-weight: 300;
  }

  &__photos-interior {
    padding: 48px 0;

    &-image__inner {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &-image__source {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }

    &-image__wrap {
      padding: 0;
      margin: 0;
      width: 49%;
    }

    &-image__caption-title {
      font-weight: 600;
      font-size: 16px;
    }

    &-image__caption-description {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__book-it__extra-block {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    background-color: #fff;
    margin-top: 20px;
  }

  &__calendar {
    &-inner {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &-title {
      font-size: 22px;
      font-weight: 400;
    }

    &-block {
      width: 49%;
    }

    &-counter{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-top: 15px;
      &__button {
        text-decoration: underline;
      }
    }
  }


}
