<div class="gallery-detail" [style]="{'min-height': minHeight + 'px'}">
    <div class="gallery-detail__image-block-wrap">
        <div class="gallery-detail__image-block gallery-detail__image-block--left">
            <img class="gallery-detail__image-block-image-left" src="https://a0.muscache.com/im/pictures/11a9b070-6c7a-4346-a4d2-053503fb0cc0.jpg?im_w=1200" alt="">
        </div>

        <div class="gallery-detail__image-block gallery-detail__image-block--right">
            <img class="gallery-detail__image-block-image-right" src="https://a0.muscache.com/im/pictures/389e694c-aef7-47dc-b6ca-2c136cd26a29.jpg?im_w=1440" alt="">
            <img class="gallery-detail__image-block-image-right" src="https://a0.muscache.com/im/pictures/65f3f7cb-65bc-4d4b-95b3-a53795ea3523.jpg?im_w=1440" alt="">
            <img class="gallery-detail__image-block-image-right" src="https://a0.muscache.com/im/pictures/miso/Hosting-41084699/original/c9c7ff2d-41d6-4f5e-ad23-04851ee590bc.jpeg?im_w=1440" alt="">
            <img class="gallery-detail__image-block-image-right" src="https://a0.muscache.com/im/pictures/miso/Hosting-41084699/original/d14c8b61-2e21-49c3-971b-ef2ecb0c9f93.jpeg?im_w=1440" alt="">
        </div>
    </div>
</div>
